<%#= form_for @article do |f| %>
<!--  评论列表：-->
<!--  <ul>-->
    <%#= f.fields_for :comments do |comments_form| %>
<!--      <li>-->
        <%#= comments_form.check_box :_destroy %>
        <%#= comments_form.label '标题' %>
        <%#= comments_form.text_field :commenter %>
        <%#= comments_form.label '内容' %>
        <%#= comments_form.text_field :body %>

<!--      </li>-->
    <%# end %>
<!--  </ul>-->
<%# end %>